ol h5 {
  background: white;
  padding: 10px;
  border-radius: 20px;
}
 span {
   color: 000080;
   font-size: 16px;
 }

 li img {
   border-radius: 20px;
   height: 100px;
   text-align: center;
 }

 .div1 {
padding: 30px;
border-radius: 20px;
margin-top: 20px;
 }

 .div2 {
   text-align: center;
   color: #b6d0f2;
 }

 

  h1 {
    text-align: center;
    color: azure;
    font-family: 'Lora', serif;
    background-color: #93a9db;
    line-height: 2;
    border-radius: 20px;
    margin: 0;
  }

  .copy_right_footer { position: fixed; color: #6c757d; bottom: 0; width: 100%; background-color: #f5f5f5; line-height: 3; text-align: center; font-family: 'Special Elite', cursive; }
